---
---
@import "global";

.acc-home {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    img {
        max-width: 100%;
        width: 100%;
    }

    p {
        text-align: center;
        font-size: 20px;
        line-height: 32px;
    }

    @media (min-width: $mobile_screen) {
        max-width: 100%;
        width: 100%;
        flex-wrap: nowrap;

        p {
            padding: 0 36px;
        }
    }
}

#team {
    display: flex;
    flex-wrap: wrap;

    .card {
        position: relative;
        width: 100%; // Default to full width for mobile
        display: flex;
        flex-direction: column;
        max-height: 620px;
        .images {
            max-height: 500px;

        }

        .images,
        img {
            position: relative;
            max-width: 100%;
            width: 100%;
        }

        .overlay {
            opacity: 0;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $black; // Black overlay
            justify-content: center;
            align-items: center;
            transition: 0.3s all ease;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            flex-direction: column;
            padding: 20px;
            text-align: center;

            img.icon {
                height: 40px !important;
                width: 70px !important;
            }

            p {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $white;
                letter-spacing: 2px;
            }
        }

        &:hover .overlay {
            opacity: 1;
        }

        .card-footer {
            height: 120px;
            background-color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 30px;

            h2 {
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 2px;
            }

            p {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    #card1 {
        width: 66.66%;

        .images {
            display: flex;
            flex-wrap: wrap;

            img {
                width: 33.333%;
                max-height: 250px;
                height: auto;
                object-fit: cover;
                background-position: center;
            }
        }

        &:hover .overlay {
            display: flex;
        }
    }

    #card2 {
        width: 33.33%;
        flex-direction: column-reverse; // Description on top for desktop

        .images {
            width: 100%;
            height: 100%;
        }

        .images img {
            height: 100%; // Subtract the footer height
            width: 100%;
            object-fit: cover;
        }

        &:hover .overlay {
            display: flex;
        }
    }

    @media (max-width: 991px) {

        // Adjust based on your mobile breakpoint
        #card1 {
            width: 100%;

            .images img {
                width: 33.33%; // Adjust if you want a different layout on mobile
            }
        }

        #card2 {
            width: 100%;
            flex-direction: column;

            .images img {
                width: 100%; // Adjust if you want a different layout on mobile
            }
        }
    }
}

.icon {
    display: block;
    // Add styles for the eye icon here
}

#info {
    padding: 60px 0;

    @media (min-width: $mobile_screen) {
        padding: 80px 0;
    }

    .info-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h2 {
            font-size: 44px;
            font-weight: 700;
            line-height: 44px;
            text-transform: uppercase;
        }

        h4 {
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        @media (min-width: $mobile_screen) {
            gap: 80px;

            h2 {
                font-size: 116px;
                line-height: 120px;

            }

            h4 {
                font-size: 32px;
                line-height: 40px;
            }

            p {
                font-size: 32px;
                line-height: 50px;
            }
        }
    }
}

.slider {
    position: relative;

    .slide {
        max-height: 530px;
        height: 530px;

        @media (min-width: $mobile_screen) {
            max-height: 622px;
            height: 622px;
        }

        img {
            height: calc(100% - 120px);
            object-fit: cover;
        }
    }

    .slide-content {
        padding-left: 90px;
        padding-right: 30px;
        height: 120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
        h2 {
            font-size: 14px;
            text-transform: uppercase;
            line-height: 18px;
            letter-spacing: 2px;
            font-weight: 700;
        }

        p {
            font-size: 16px;
            line-height: 26px;
        }

        @media (min-width: $mobile_screen) {
            padding-left: 160px;
            padding-right: 160px;

            h2 {
                font-size: 16px;
                line-height: 24px;
            }

            p {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
}

.slick-prev,
.slick-next {
    background-color: $white;
    padding: 0;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    z-index: 5;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $black;

    @media (min-width: $mobile_screen) {
        height: 120px;
        width: 120px;
        left: 0;
    }
    img {
        width: 43px;
    }
    img.icon-white {
        display: none;
    }

    &:hover {
        background-color: $black;

        img.icon-black {
            display: none;
        }

        img.icon-white {
            display: block;
        }
    }
}

.slick-prev {
    bottom: 60px;
    top: unset;

    @media (min-width: $mobile_screen) {
        bottom: 0;
        left: 0;
    }
}

.slick-next {
    right: unset;
    left: 0;

    @media (min-width: $mobile_screen) {
        right: 0px;
        left: unset;
    }
}