---
--- 
@import "global";

.acc-home {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    img {
        max-width: 100%;
        width: 100%;
    }

    p {
        text-align: center;
        font-size: 20px;
        line-height: 32px;
    }

    @media (min-width: $mobile_screen) {
        max-width: 100%;
        width: 100%;
        flex-wrap: nowrap;

        p {
            padding: 0 36px;
        }
    }
}

#team {
    display: flex;
    flex-wrap: wrap;

    .card {
        border: 2px solid $black;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 620px;
        border-top: 0px;

        .images {
            max-height: 500px;

        }

        .images,
        img {
            position: relative;
            max-width: 100%;
            width: 100%;
        }

        .overlay {
            opacity: 0;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $black; // Black overlay
            justify-content: center;
            align-items: center;
            transition: 0.3s all ease;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            flex-direction: column;
            padding: 20px;
            text-align: center;

            img.icon {
                height: 40px !important;
                width: 70px !important;
            }

            p {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $white;
                letter-spacing: 2px;
            }
        }

        &:hover .overlay {
            opacity: 1;
        }

        .card-footer {
            height: 120px;
            background-color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 30px;

            h2 {
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 2px;
            }

            p {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    #card1 {
        width: 66.66%;

        .images {
            display: flex;
            flex-wrap: wrap;

            img {
                width: 33.333%;
                max-height: 250px;
                height: auto;
                object-fit: cover;
                background-position: center;
            }
        }

        &:hover .overlay {
            display: flex;
        }
        .card-footer {
            border-top: 2px solid $black;
        }
    }

    #card2 {
        width: 33.33%;
        flex-direction: column-reverse; // Description on top for desktop

        .images {
            width: 100%;
            height: 100%;
        }

        .images img {
            height: 100%; // Subtract the footer height
            width: 100%;
            object-fit: cover;
        }

        &:hover .overlay {
            display: flex;
        }
        .card-footer {
            border-top: 2px solid $black;
        }
    }

    @media (max-width: 991px) {

        // Adjust based on your mobile breakpoint
        #card1 {
            width: 100%;

            .images img {
                width: 33.33%; // Adjust if you want a different layout on mobile
            }
        }

        #card2 {
            width: 100%;
            flex-direction: column;

            .images img {
                width: 100%; // Adjust if you want a different layout on mobile
            }
        }
    }

    @media (min-width: $mobile_screen) {
        .border-b {
            border-bottom: 2px solid $black;
        }

        .border-t {
            border-top: 2px solid $black;
        }

        .border-l {
            border-left: 2px solid $black !important;
        }

        .border-r {
            border-right: 2px solid $black;
        }

        .border-x {
            border-left: 2px solid $black;
            border-right: 2px solid $black;
        }

        .border-y {
            border-top: 2px solid $black;
            border-bottom: 2px solid $black;
        }

        .card {
            border: 0px solid $black;
        }
        #card2 {
            .card-footer {
                border-top: 0px solid $black;
            }
        }
    }
}

.icon {
    display: block;
    // Add styles for the eye icon here
}

#info {
    padding: 60px 0;

    @media (min-width: $mobile_screen) {
        padding: 80px 0;
    }

    .info-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h2 {
            font-size: 44px;
            font-weight: 700;
            line-height: 44px;
            text-transform: uppercase;
        }

        h4 {
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        @media (min-width: $mobile_screen) {
            gap: 80px;

            h2 {
                font-size: 116px;
                line-height: 120px;

            }

            h4 {
                font-size: 32px;
                line-height: 40px;
            }

            p {
                font-size: 32px;
                line-height: 50px;
            }
        }
    }
}

.slider {
    position: relative;

    .slide {
        max-height: 530px;
        height: 530px;

        @media (min-width: $mobile_screen) {
            max-height: 622px;
            height: 622px;
        }

        img {
            height: calc(100% - 120px);
            object-fit: cover;
        }
    }

    .slide-content {
        padding-left: 90px;
        padding-right: 30px;
        height: 120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;

        h2 {
            font-size: 14px;
            text-transform: uppercase;
            line-height: 18px;
            letter-spacing: 2px;
            font-weight: 700;
        }

        p {
            font-size: 16px;
            line-height: 26px;
        }

        @media (min-width: $mobile_screen) {
            padding-left: 160px;
            padding-right: 160px;

            h2 {
                font-size: 16px;
                line-height: 24px;
            }

            p {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
}

.slick-prev,
.slick-next {
    background-color: $white;
    padding: 0;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    z-index: 5;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $black;

    @media (min-width: $mobile_screen) {
        height: 120px;
        width: 120px;
        left: 0;
    }

    img {
        width: 43px;
    }

    img.icon-white {
        display: none;
    }

    &:hover {
        background-color: $black;

        img.icon-black {
            display: none;
        }

        img.icon-white {
            display: block;
        }
    }
}

.slick-prev {
    bottom: 60px;
    top: unset;

    @media (min-width: $mobile_screen) {
        bottom: 0;
        left: 0;
    }
}

.slick-next {
    right: unset;
    left: 0;

    @media (min-width: $mobile_screen) {
        right: 0px;
        left: unset;
    }
}

/* WHY SOUND MATTERS */

#why-sound-matters {
    .sound-header {
        max-width: 860px;

        h2 {
            margin: 30px 0;
        }

        p {
            font-size: 16px;
            line-height: 26px;
        }

        @media (min-width: $mobile_screen) {
            h2 {
                margin: 80px 0;
            }

            p {
                font-size: 32px;
                line-height: 50px;
            }
        }

    }

    .cards {
        .card {
            display: flex;
            flex-direction: column;
            border: 2px solid $black;

            .media {
                width: 100%;
                display: flex;
                flex-direction: column;

                img {
                    height: 254px;
                    width: 100%;
                    object-fit: cover;
                }

                .media-footer {
                    height: 120px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding: 10px 30px;
                    border-top: 2px solid $black;

                    h3 {
                        text-transform: uppercase;
                        font-family: $font-family;
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: 2px;
                        font-weight: 700;
                    }

                    p {
                        font-family: $font-family;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }

            .media-content {
                width: 100%;
                height: 312px;
                background-color: $black;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: $white;
                padding: 30px;

                h3 {
                    font-size: 44px;
                    font-weight: 500;
                    line-height: 46px;
                }

                p {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 18px;
                    letter-spacing: 2px;
                    max-width: 286px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }

            @media (min-width: $mobile_screen) {
                flex-direction: row;

                .media {
                    width: 66.66%;

                    img {
                        height: 516px;
                    }

                    .media-footer {
                        height: 120px;
                        display: flex;
                        padding: 16px 44px;

                        h3 {
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 700;
                        }

                        p {
                            font-size: 20px;
                            line-height: 32px;
                        }
                    }
                }

                .media-content {
                    width: 33.33%;
                    height: 636px;
                    background-color: $black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: $white;

                    h3 {
                        font-size: 44px;
                        font-weight: 500;
                        line-height: 46px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }

        .card.reverse {
            @media (min-width: $mobile_screen) {
                .media {
                    order: 2;
                }

                .media-content {
                    order: 1;

                    h3 {
                        order: 2;
                    }

                    p {
                        order: 1;
                    }
                }
            }
        }
    }

    .mobile-mt-0 {
        @media (max-width: $mobile_max_screen) {
            margin-top: 0;
        }
    }

    .card-info-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        font-family: $font-family;
        max-width: 900px;

        &.first {
            margin: 30px 0;
        }

        &.second {
            margin: 30px 0;
        }

        &.third {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 26px;
        }

        @media (min-width: $mobile_screen) {
            font-size: 32px;
            line-height: 52px;

            &.first {
                margin: 80px 0;
            }

            &.second {
                margin: 80px 0;
            }

            &.third {
                font-size: 20px;
                line-height: 32px;
                margin-bottom: 80px;
            }
        }
    }

    .scroll-to-top {
        height: 120px;
        width: 120px;
        background-color: $white;
        border: 2px solid $black;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .steps {
        background-color: $primary;
        padding-top: 30px;
        padding-bottom: 150px;
        position: relative;

        @media (min-width: $mobile_screen) {
            padding: 80px 0;
            padding-bottom: 80px;
        }

        .steps-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            .step {
                h3 {
                    border-bottom: 2px solid $black;
                    padding-bottom: 22px;
                    font-size: 44px;
                    line-height: 46px;
                }

                p {
                    font-size: 16px;
                    line-height: 26px;
                    margin-top: 12px;
                }
            }

            @media (min-width: $mobile_screen) {
                flex-wrap: nowrap;
                gap: 64px;

                .step {
                    h3 {
                        padding-bottom: 44px;
                        font-size: 116px;
                        line-height: 120px;
                    }

                    p {
                        font-size: 20px;
                        line-height: 32px;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}